.hero {
  background-color: var(--color-blocks);
  padding: 32px;
  color: var(--color-text-white);
  margin-bottom: 4rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: start;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  font-size: 64px;
  font-family: 'Playfair Display', serif;
  color: var(--color-text-white);
  margin: 0;
}

.description {
  font-size: 24px;
  color: var(--color-text-white);
  max-width: 400px;
}

.images {
  display: flex;
  gap: 24px;
  align-items: start;
}

.image {
  border-radius: 25px;
  object-fit: cover;
}

.main_image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
