.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  padding: 0 16px;
  align-items: center;
  margin-bottom: 32px;
}

.title {
  font-weight: 400;
  margin-bottom: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.footer {
  margin-top: 24px;
  align-self: flex-end;
}
