.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #3a2a27;
  padding: 32px;
  border-radius: 20px;
  position: relative;
  max-width: 400px;
  width: 100%;
}

.closeBtn {
  color: white;
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

html[data-theme="B"] .modal {
  background-color: white;
  border-radius: 0px;
  max-width: 800px;
  max-height: 600px;
}

html[data-theme="B"] .closeBtn {
  color: var(--color-border-main);
  border: 2px solid var(--color-border-main);
  width: 32px;
  height: 32px;
}

@media (max-width: 768px) {
  html[data-theme="B"] .modal {
    max-width: 320px;
    padding: 34px 16px 34px 16px;
  }

  html[data-theme="B"] .closeBtn {
    border: 2px solid var(--color-border-main);
    width: 28px;
    height: 28px;
  }
}
