.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}

.numbers_container {
  display: flex;
}

.page_number {
  padding: 8px 14px;
  font-weight: 600;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.active {
  opacity: 1;
}

.arrow {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-blocks);
  border: 2px solid var(--color-blocks);
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

.arrow:disabled {
  cursor: not-allowed;
}
