.footer {
  padding: 16px 0;
  background-color: var(--color-blocks);;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav {
  display: flex;
  gap: 9rem;
}

.link {
  color: var(--color-text-white);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}

.social_icons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.icon {
  display: block;
  transition: transform 0.2s ease;
}
