.card {
  border: 2px solid var(--color-border-main);
  border-radius: 25px;
  padding: 16px 16px 24px 16px;
  height: 460px;
  display: flex;
  flex-direction: column;
  width: 358px;
}

.image {
  max-width: 326px;
  border-radius: 20px;
  object-fit: cover;
  object-position: 25% 75%;
}

.title {
  margin: 16px 0 8px;
  overflow-wrap: anywhere;
  hyphens: auto;
}

.description {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: anywhere;
  hyphens: auto;
}

.price {
  text-decoration: underline;
}

.bottom_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.button_choose {
  background-color: transparent;
  border: none;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

html[data-theme="B"] .card {
  border-radius: 0;
  border-width: 3px;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 500px;
}

html[data-theme="B"] .image {
  height: 300px;
  border-radius: 0;
}

html[data-theme="B"] .title_text {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 300;
}

html[data-theme="B"] .title {
  text-align: center;
}

html[data-theme="B"] .price {
  text-decoration: none;
  font-weight: 300;
}

html[data-theme="B"] .bottom_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

@media (max-width: 768px) {
  html[data-theme="B"] .card {
    border: 1px solid var(--color-border-main);
    width: 100%;
    max-width: 170px;
    height: auto;
    padding: 12px 12px 8px 12px;
  }

  html[data-theme="B"] .image {
    height: 160px;
    width: 160px;
  }

  html[data-theme="B"] .title_text {
    font-size: 20px;
  }
  html[data-theme="B"] .button_choose {
    margin-top: 8px;
  }
}
